<!-- data_table.html -->

<table id="data-table" class="table is-fullwidth">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>
            <a href="/edit-item-form/{{ item.id }}" hx-get="/edit-item-form/{{ item.id }}" hx-target="#modal" hx-toggle="modal" class="button is-small is-info">Edit</a>
            <form action="/delete-item/{{ item.id }}" method="post" hx-post="/delete-item/{{ item.id }}" hx-target="#data-section" style="display: inline;">
                <button type="submit" class="button is-small is-danger">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>