<!-- edit_item_form.html -->

<form action="/edit-item/{{ item.id }}" method="post" hx-post="/edit-item/{{ item.id }}" hx-target="#data-section" class="field">
    <label for="name" class="label">Name:</label>
    <div class="control">
        <input type="text" id="name" name="name" value="{{ item.name }}" class="input">
    </div>

    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-link">Update</button>
        </div>
        <div class="control">
            <button type="button" hx-get="/data-table" hx-target="#data-section" class="button is-link is-light">Cancel</button>
        </div>
    </div>
</form>